/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9e3e3;
}

.app {
  text-align: center;
}

/* NavBar.css */

.navbar {
  background-color: #ffc0cb;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

/* Home.css */

.home {
  padding: 2rem;
}

.image-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.image-container img {
  width: 30%;
  border-radius: 10px;
}

.message-container {
  padding: 2rem;
  background-color: #ffe4e1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.love-message {
  font-size: 1.2rem;
  color: #ff1493;
}
